@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="margin:20px">
    <p class="lead">
        This is a teaching app to show how to integrate AWS services with an ASP.NET Core application.
    </p>
</div>
